body{
    background: #e5e4df;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    background: #ccc790;
    padding: 10px 10px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {    
    color: #ffffff;
    text-decoration: none;    
}

.navbar ul li a:hover {    
    color: aquamarine;   
}

.container {
    max-width: 1200px;
    background: #e0daa9;
    margin: auto;
    padding: 20px 10px;    
}

.card {
    background: whitesmoke;
    color: black;
    padding: 5px;
    margin-bottom: 2px;
}

input.input, textarea.input{
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}

textarea.input{
    text-align: left;
}