<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fuente Google -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}"> <!-- Asegúrate de enlazar el archivo CSS correctamente -->
</head>

<body>    
    <div class="form-container">
        <h1>Crear cuenta</h1>
        
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            
            <div class="form-fields">
                {{ miSignup.as_p }}
            </div>
            
            <button type="submit" class="submit-btn">
                Crear cuenta
            </button>
        </form>
    </div>    
</body>

</html>