<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear tarea</title>
</head>
<body>
    {% extends "layouts/base.html" %}

    {% block content %}
    
        <h1>CREAR NUEVA TAREA</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ miFormTask.as_p }}

            <select name="proyectos" id="proyectos">
                {% for proyecto in proyectos %}
                    <option value="{{proyecto.id}}">{{proyecto.nombre_proyecto}}</option>
                {% endfor %}
            </select>
            <button> 
                Save 
            </button>        
        </form>
        
    {% endblock  %}

</body>
</html>