<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del proyecto</title>
</head>
<body>
    {% extends "layouts/base.html" %}

    {% block content %}
        <h1>Detalles del Proyecto</h1>
        <h2>{{ proyecto }}</h2>

        {%for tasks in tasks %}
            <div class= "card">
                <h2>
                    {{tasks.titulo}}
                </h2>
            </div>

            <p>
                {{proyecto}}
            </p>
        {% endfor %}
    
    {% endblock %}
    
</body>
</html>