<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
</head>
<body>
    {% extends "layouts/base.html" %}

    {% block content %}
        <h1>Proyectos</h1>
        
        {% for proyectos in proyecto %}
        
        <article class="card">
            <a href="{% url 'project_detail' proyectos.id %}">
                <h2>{{ proyectos.nombre_proyecto }}</h2>
            </a>
        </article>
        {% endfor %}    
    
    {% endblock %}
    
</body>
</html>