{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <header>        
        <img src="{% static "yourCompany.jpg" %}" alt="" width="70" >        
        <h1>Inicio de sesion</h1>
    </header>
    <main class= "container">
        <div>
            {% block content %}
            <!-- El contenido específico de cada página irá aquí -->
            {% endblock %}
        </div>
    </main>    

    <footer>
        <p>© 2024 Diseño Johanna Ortiz</p>
    </footer>
</body>
</html>
